FBoxDial/Telefonie/Listen/Vorwahlen.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="LKZ">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" name="ONKZ">
                <xs:complexType>
                  <xs:attribute name="n" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="Name" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="n" type="xs:unsignedShort" use="required" />
            <xs:attribute name="Code" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>